<div>
    {% set value = vote.totalValue %}
    {% set rating_width = ((value/numberVoteAlt)|number_format(2))*rating_unitwidth %}
    {% set rating1 = ((value/numberVoteAlt)|number_format(2)) %}
    {% set rating2 = ((value/numberVoteAlt)|number_format(1)) %}
    <div class="ratingblock">
        <div id="unit_long{{ vote.pageSlug }}" class="divScore">
            <ul id="unit_ul{{ vote.pageSlug }}" class="unit-rating" style="width:{{ ratingunitwidth *units }}px;">
                <li class="current-rating" style="width:{{ rating_width }}px;">Currently {{ rating2 }}/{{ units }}</li>

                {% for ncount in 1..units  %}
                    <li><a href="/vote/{{ vote.pageSlug }}/{{ ncount }}" class="r{{ ncount }}-unit"></a></li>
                {% endfor %}

            </ul>
            <p class="voted"><strong>{{ rating1 }}</strong>({{ numberVote }} vote)</p>
        </div>
    </div>
</div>